* {
    font-family: "0xProto Nerd Font";
	font-weight: bold;
    font-size: 16px;
}

window#waybar {
    border: 2px solid #ff0;
    transition-property: background-color;
}
.modules-right, .modules-left, .modules-center {
    margin: 0 10px;
}