@define-color background #1e1e2e;
@define-color light-blue #89dceb;
@define-color pink #f5c2e7;
@define-color cream #f5e0dc;
@define-color accent #45475a;


* {
    font-family: "0xProto Nerd Font";
    font-weight: bold;
    font-size: 15px;
}