/* main colors */
@define-color background #1e1e2e;
@define-color light-blue #89dceb;
@define-color text #f5c2e7;
@define-color cream #f5e0dc;
@define-color accent #45475a;
@define-color red #e78284;
@define-color yellow #e5c890;
@define-color green #a6d189;
/* color - information */
@define-color warning @yellow;
@define-color critical @red;
@define-color charging @green;

* {
    font-family: "0xProto Nerd Font";
    font-weight: bold;
    font-size: 16px;
    color: @text;
}

/* tooltips */

tooltip {
    border: 2px solid @main-br;
    border-radius: 12px;
    background-color: @main-bg;
}

tooltip label {
    margin: 2px 4px;
    font-weight: normal;
}

tooltip decoration {
    border: none;
    background-color: transparent;
}